<div class="alert alert-1">
    <span class="alert__message"></span>
    <button type="button" class="alert__btn btn">
        <i class="convert-svg" data-src="{{ asset('images/icons/x.svg') }}"></i>
    </button>
</div>