{# @todo: add dcas #}
<div
        class="modal fade modal-style-1"
        id="privacyPolicyModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="privacyPolicyModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header-container">
                    <h6 class="modal-title mb-0">Privacy Policies</h6>
                    <button
                            type="button"
                            class="btn close-modal-btn"
                            data-dismiss="modal"
                    >
                        <i class="convert-svg" data-src="{{ asset('images/icons/x.svg') }}"></i>
                    </button>
                </div>
                <div class="d-flex">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a
                                    class="nav-link active"
                                    id="pills-privacy-policy-tab"
                                    data-toggle="pill"
                                    href="#pills-privacy-policy"
                                    role="tab"
                                    aria-controls="pills-privacy-policy"
                                    aria-selected="true"
                            >1. Privacy Policy</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                    class="nav-link"
                                    id="pills-user-rights-tab"
                                    data-toggle="pill"
                                    href="#pills-user-rights"
                                    role="tab"
                                    aria-controls="pills-user-rights"
                                    aria-selected="false"
                            >2. User Rights</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                    class="nav-link"
                                    id="pills-orders-tab"
                                    data-toggle="pill"
                                    href="#pills-orders"
                                    role="tab"
                                    aria-controls="pills-orders"
                                    aria-selected="false"
                            >3. Orders</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                    class="nav-link"
                                    id="pills-payment-methods-tab"
                                    data-toggle="pill"
                                    href="#pills-payment-methods"
                                    role="tab"
                                    aria-controls="pills-payment-methods"
                                    aria-selected="false"
                            >4. Payment Methods</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                    class="nav-link"
                                    id="pills-return-and-cancellation-tab"
                                    data-toggle="pill"
                                    href="#pills-return-and-cancellation"
                                    role="tab"
                                    aria-controls="pills-return-and-cancellation"
                                    aria-selected="false"
                            >5. Return & Cancellation</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                    class="nav-link"
                                    id="pills-subscriptions-tab"
                                    data-toggle="pill"
                                    href="#pills-subscriptions"
                                    role="tab"
                                    aria-controls="pills-subscriptions"
                                    aria-selected="false"
                            >6. Subscriptions</a
                            >
                        </li>
                    </ul>
                    <div class="modal-description-container">
                        <div class="tab-content" id="pills-tabContent">
                            <div
                                    class="tab-pane fade show active"
                                    id="pills-privacy-policy"
                                    role="tabpanel"
                                    aria-labelledby="pills-privacy-policy-tab"
                            >
                                <p class="mb-0 tab-description">
                                    Sit obcaecati similique eos debitis fugiat est eligendi
                                    molestiae sit similique quia. Sed quae galisum ex dolore
                                    nostrum ut obcaecati quaerat sit nihil dolor. Nam velit
                                    magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti
                                    <br /><br />Sit obcaecati similique eos debitis fugiat est
                                    eligendi molestiae sit similique quia. Sed quae galisum ex
                                    dolore nostrum ut obcaecati quaerat sit nihil dolor. Nam
                                    velit magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti<br /><br />Sit obcaecati similique eos
                                    debitis fugiat est eligendi molestiae sit similique quia.
                                    Sed quae galisum ex dolore nostrum ut obcaecati quaerat
                                    sit nihil dolor. Nam velit magni ab voluptas. Lorem ipsum
                                    dolor sit amet. Ab excepturi deleniti Sit obcaecati
                                    similique eos debitis fugiat est eligendi molestiae sit
                                    similique quia. Sed quae galisum ex dolore nostrum ut
                                    obcaecati quaerat sit nihil dolor. Nam velit magni ab
                                    voluptas. Lorem ipsum dolor sit amet. Ab excepturi
                                    deleniti <br /><br />Sit obcaecati similique eos debitis
                                    fugiat est eligendi molestiae sit similique quia. Sed quae
                                    galisum ex dolore nostrum ut obcaecati quaerat sit nihil
                                    dolor. Nam velit magni ab voluptas. Lorem ipsum dolor sit
                                    amet. Ab excepturi deleniti<br /><br />Sit obcaecati
                                    similique eos debitis fugiat est eligendi molestiae sit
                                    similique quia. Sed quae galisum ex dolore nostrum ut
                                    obcaecati quaerat sit nihil dolor. Nam velit magni ab
                                    voluptas. Lorem ipsum dolor sit amet. Ab excepturi
                                    deleniti Sit obcaecati similique eos debitis fugiat est
                                    eligendi molestiae sit similique quia. Sed quae galisum ex
                                    dolore nostrum ut obcaecati quaerat sit nihil dolor. Nam
                                    velit magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti <br /><br />Sit obcaecati similique eos
                                    debitis fugiat est eligendi molestiae sit similique quia.
                                    Sed quae galisum ex dolore nostrum ut obcaecati quaerat
                                    sit nihil dolor. Nam velit magni ab voluptas. Lorem ipsum
                                    dolor sit amet. Ab excepturi deleniti<br /><br />Sit
                                    obcaecati similique eos debitis fugiat est eligendi
                                    molestiae sit similique quia. Sed quae galisum ex dolore
                                    nostrum ut obcaecati quaerat sit nihil dolor. Nam velit
                                    magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti
                                </p>
                            </div>
                            <div
                                    class="tab-pane fade"
                                    id="pills-user-rights"
                                    role="tabpanel"
                                    aria-labelledby="pills-user-rights-tab"
                            >
                                <p class="mb-0 tab-description">
                                    Sit obcaecati similique eos debitis fugiat est eligendi
                                    molestiae sit similique quia. Sed quae galisum ex dolore
                                    nostrum ut obcaecati quaerat sit nihil dolor. Nam velit
                                    magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti
                                    <br /><br />Sit obcaecati similique eos debitis fugiat est
                                    eligendi molestiae sit similique quia. Sed quae galisum ex
                                    dolore nostrum ut obcaecati quaerat sit nihil dolor. Nam
                                    velit magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti<br /><br />Sit obcaecati similique eos
                                    debitis fugiat est eligendi molestiae sit similique quia.
                                    Sed quae galisum ex dolore nostrum ut obcaecati quaerat
                                    sit nihil dolor. Nam velit magni ab voluptas. Lorem ipsum
                                    dolor sit amet. Ab excepturi deleniti
                                </p>
                            </div>
                            <div
                                    class="tab-pane fade"
                                    id="pills-orders"
                                    role="tabpanel"
                                    aria-labelledby="pills-orders-tab"
                            >
                                <p class="mb-0 tab-description">
                                    Sit obcaecati similique eos debitis fugiat est eligendi
                                    molestiae sit similique quia. Sed quae galisum ex dolore
                                    nostrum ut obcaecati quaerat sit nihil dolor. Nam velit
                                    magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti
                                    <br /><br />Sit obcaecati similique eos debitis fugiat est
                                    eligendi molestiae sit similique quia. Sed quae galisum ex
                                    dolore nostrum ut obcaecati quaerat sit nihil dolor. Nam
                                    velit magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti<br /><br />Sit obcaecati similique eos
                                    debitis fugiat est eligendi molestiae sit similique quia.
                                    Sed quae galisum ex dolore nostrum ut obcaecati quaerat
                                    sit nihil dolor. Nam velit magni ab voluptas. Lorem ipsum
                                    dolor sit amet. Ab excepturi deleniti
                                </p>
                            </div>
                            <div
                                    class="tab-pane fade"
                                    id="pills-payment-methods"
                                    role="tabpanel"
                                    aria-labelledby="pills-payment-methods-tab"
                            >
                                <p class="mb-0 tab-description">
                                    Sit obcaecati similique eos debitis fugiat est eligendi
                                    molestiae sit similique quia. Sed quae galisum ex dolore
                                    nostrum ut obcaecati quaerat sit nihil dolor. Nam velit
                                    magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti
                                    <br /><br />Sit obcaecati similique eos debitis fugiat est
                                    eligendi molestiae sit similique quia. Sed quae galisum ex
                                    dolore nostrum ut obcaecati quaerat sit nihil dolor. Nam
                                    velit magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti<br /><br />Sit obcaecati similique eos
                                    debitis fugiat est eligendi molestiae sit similique quia.
                                    Sed quae galisum ex dolore nostrum ut obcaecati quaerat
                                    sit nihil dolor. Nam velit magni ab voluptas. Lorem ipsum
                                    dolor sit amet. Ab excepturi deleniti
                                </p>
                            </div>
                            <div
                                    class="tab-pane fade"
                                    id="pills-return-and-cancellation"
                                    role="tabpanel"
                                    aria-labelledby="pills-return-and-cancellation-tab"
                            >
                                <p class="mb-0 tab-description">
                                    Sit obcaecati similique eos debitis fugiat est eligendi
                                    molestiae sit similique quia. Sed quae galisum ex dolore
                                    nostrum ut obcaecati quaerat sit nihil dolor. Nam velit
                                    magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti
                                    <br /><br />Sit obcaecati similique eos debitis fugiat est
                                    eligendi molestiae sit similique quia. Sed quae galisum ex
                                    dolore nostrum ut obcaecati quaerat sit nihil dolor. Nam
                                    velit magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti<br /><br />Sit obcaecati similique eos
                                    debitis fugiat est eligendi molestiae sit similique quia.
                                    Sed quae galisum ex dolore nostrum ut obcaecati quaerat
                                    sit nihil dolor. Nam velit magni ab voluptas. Lorem ipsum
                                    dolor sit amet. Ab excepturi deleniti
                                </p>
                            </div>
                            <div
                                    class="tab-pane fade"
                                    id="pills-subscriptions"
                                    role="tabpanel"
                                    aria-labelledby="pills-subscriptions-tab"
                            >
                                <p class="mb-0 tab-description">
                                    Sit obcaecati similique eos debitis fugiat est eligendi
                                    molestiae sit similique quia. Sed quae galisum ex dolore
                                    nostrum ut obcaecati quaerat sit nihil dolor. Nam velit
                                    magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti
                                    <br /><br />Sit obcaecati similique eos debitis fugiat est
                                    eligendi molestiae sit similique quia. Sed quae galisum ex
                                    dolore nostrum ut obcaecati quaerat sit nihil dolor. Nam
                                    velit magni ab voluptas. Lorem ipsum dolor sit amet. Ab
                                    excepturi deleniti<br /><br />Sit obcaecati similique eos
                                    debitis fugiat est eligendi molestiae sit similique quia.
                                    Sed quae galisum ex dolore nostrum ut obcaecati quaerat
                                    sit nihil dolor. Nam velit magni ab voluptas. Lorem ipsum
                                    dolor sit amet. Ab excepturi deleniti
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>