/****************************************************************MAIN HEADER***********************************************************************************/
.navbar.navbar-dark.navbar-static {
    justify-content: space-between;
}
/****************************************************************END MAIN HEADER***********************************************************************************/


/****************************************************************SIDE MENU***********************************************************************************/
/****************************************************************END SIDE MENU***********************************************************************************/

/****************************************************************FORM STYLES***********************************************************************************/
.form-group ul {
    list-style: none;
    padding: 0;
}
.form-group ul li {
    color: red;
}
/****************************************************************END FORM STYLES***********************************************************************************/
