{% extends 'adminTemplate/base.html.twig' %}
{% set page_title %}Dashboard{% endset %}
{% block body -%}
    <h1 class="no-margin text-center">Welcome to {{ constant('\\App\\Kernel::WEBSITE_TITLE') }} Admin Panel</h1>
{% endblock %}
