{% extends 'fe/base.html.twig' %}
{% block title %}{{ 'faqs_page_txt'|trans }}{% endblock %}

{% block content %}

    <div id="faqs_page">
        {% include "page/faq/_page-header.html.twig" %}
        {% include "page/faq/_faqs-list.html.twig" %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/faqs.js') }}?v=1.0.1"></script>
{% endblock %}