{% extends 'fe/base.html.twig' %}
{% block title %}{{ 'check_email_txt'|trans }}{% endblock %}

{% block content %}
    <div id="bg_image_page">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="account-form-container form-validate flex-column w-75">
                <div class="form-content w-50">
                    <div class="other-option-text">
                        <span>{{ 'email_sent_txt'|trans }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/pages/account-form.js') }}"></script>
{% endblock %}