{% extends 'fe/base.html.twig' %}
{% block title %}{{ 'about_us_page_txt'|trans }}{% endblock %}

{% block content %}

    <div id="about_us_page" class="pb-4">
        <div class="page-header-container mb-4 mb-md-5">
            <div class="header-text-container">
                <h1 class="page-title text-center">{{ 'success_story_txt'|trans }}</h1>
                <p class="header-subtitle text-center">{{ 'get_to_know_us_more_txt'|trans }}</p>
            </div>
        </div>
        <div class="container">
            {# @todo: get the pics from joe #}
            <!-- section -->
            <div class="row section-container">
                <div class="col-12 col-md-6">
                    <div class="img-container mb-3 w-100">
                        <img
                            class="lazy"
                            data-src="https://via.placeholder.com/610x420"
                            alt=""
                        />
                    </div>
                    <div class="img-container w-100">
                        <img
                                class="lazy"
                                data-src="https://via.placeholder.com/610x420"
                                alt=""
                        />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h5 class="section-title">Meet Joe, The Youngest Roman!</h5>
                    <p class="section-description">
                        Youssef Riad Roman is the youngest of the 3rd generation family
                        dynasty that has been manufacturing the finest marble and
                        granite since 1950. <br /><br />
                        A passionate electro-mechanical engineer, Joe expanded the
                        family’s business to meet the constantly evolving needs of the
                        21 st century.<br /><br />
                        70 years later, Joe launched the Joez line of world-class décor
                        and designs. Inspired and guided by his innovative and
                        hard-working father, Riad Attia Roman, Joe develops, refines,
                        and delivers affordable, hand-made, and top- quality marble and
                        granite masterpieces to Egypt and the world.<br /><br />
                        Joe’s work celebrates the unique unity of originality, art, and
                        craftmanship. Joe understands his clients’ needs, uses his
                        innovative mind and artistic skills, and creates beautiful
                        designs that turn clients to family.
                    </p>
                </div>
            </div>
            <!-- end section -->
            <!-- section -->
            <div class="row section-container">
                <div class="col-12 col-md-6">
                    <h5 class="section-title">Passion</h5>
                    <p class="section-description">
                        15-year old Joe designed a 655-pieced handmade marble church
                        miniature and won his school’s crafts contest.
                        <br /><br />15-year old Joe designed a 655-pieced handmade
                        marble church miniature and won his school’s crafts contest.
                        15-year old Joe designed a 655-pieced handmade marble church
                        miniature and won his school’s crafts contest.
                    </p>
                </div>
                <div class="col-12 col-md-6">
                    <div class="img-container mb-3 w-100">
                        <img
                                class="lazy"
                                data-src="https://via.placeholder.com/610x420"
                                alt=""
                        />
                    </div>
                </div>
            </div>
            <!-- end section -->
            <!-- section -->
            <div class="row section-container">
                <div class="col-12 col-md-6">
                    <div class="img-container mb-3 w-100">
                        <img
                                class="lazy"
                                data-src="https://via.placeholder.com/610x420"
                                alt=""
                        />
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h5 class="section-title">Practicality</h5>
                    <p class="section-description">
                        Joe implements his scientific knowledge and experiments to build
                        the optimum lightweight and durable serving tray.<br /><br />Joe
                        implements his scientific knowledge and experiments to build the
                        optimum lightweight and durable serving tray. Joe implements his
                        scientific knowledge and experiments to build.
                    </p>
                </div>
            </div>
            <!-- end section -->
        </div>
    </div>

{% endblock %}